@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TripNest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.png" alt="TripNest Logo" class="navbar-logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Packages">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/ContactUs">Contact Us</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Account/Profile">Profile</a></li>
                                    <li>
                                        <a class="dropdown-item" href="/logout" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                                        <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post"></form>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-login" href="/Account/Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>
<footer class="footer border-top">
    <div class="container">
        <p>
            <a href="https://www.instagram.com" target="_blank" style="text-decoration: none;">
                <img src="/images/instagram.png" alt="Instagram" style="height: 20px; margin-right: 10px; border: none;">
            </a>
            <a href="https://www.facebook.com" target="_blank" style="text-decoration: none;">
                <img src="/images/facebook.png" alt="Facebook" style="height: 20px; margin-right: 10px; border: none;">
            </a>
            <a href="https://www.twitter.com" target="_blank" style="text-decoration: none;">
                <img src="/images/twitter.png" alt="X" style="height: 20px; margin-right: 10px; border: none;">
            </a>
            <a href="mailto:tripnest3@gmail.com" style="text-decoration: none;">
                <img src="/images/gmail.png" alt="Email" style="height: 20px; border: none;">
            </a>
        </p>
        <p>© 2025 TripNest. All rights reserved.</p>
    </div>
</footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>